body {
    color: #5E3023;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    background-color: #895737;
    /*background-image: url("img/20230328_191220.jpg");
    background-size: 25%;*/
    line-height: 200%


}